@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.App {
  background-color: #f5f3ef;
  font-family: 'Noto Sans JP', sans-serif;
}

.pokemon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
}

.sprite-circle {
  display: flex;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0.5%;
}

.sprite {
  align-items: center;
  height: 50px;
  width: 50px;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-8px);
		-ms-transform:     translateY(-8px);
		transform:         translateY(-8px)
	}
	60% {
		-webkit-transform: translateY(-4px);
		-ms-transform:     translateY(-4px);
		transform:         translateY(-4px)
	}
}

img {  
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
img.sprite:hover, img.pokemon-team-art:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.sticky-container {
  position: sticky;
  top: 0;
}

.pokemon-team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:#eff1f5;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.pokeball-logo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 5px;
  left: -5px;
  cursor: pointer;
}

.popover-content {
  font-family: 'Noto Sans JP', sans-serif;
}

.trainer-sprite-container {
  display: flex;
  display: row;
}

.trainer-sprite {
  max-width: 90px;
}

.pokemon-logo {
  width: 90px;
  height: 75px;
}

.team-pokemon-card {
  margin: 0.5%;
  cursor: pointer;
}

.team-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 5%;
}

.pokemon-team-art {
  height: 100px;
  width: 100px;
  align-items: center;
}

.name-and-type {
  border-radius: 30px;
  width: 150px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.accordion-image {
  background-image: url("https://cdn.bulbagarden.net/upload/thumb/0/07/Hoenn_Route_117_RS.png/800px-Hoenn_Route_117_RS.png");
  background-position: 0% 11%;
  background-size: 100%;
  max-width: 100%;
  opacity: 45%;
}

.plus-icon {
  width: 20px;
  height: auto;
  opacity: 100% !important;
}


.type-image-div {
  display: flex;
  justify-content: center;
  position: relative;
  top: -15%;
}

.type-image {
  max-height: auto;
  max-width: 45%;
}




.team-analysis-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team-analysis-type-image {
  height: auto;
  width: 80px;
  margin: 5px;
}